<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Learning Management System</title>
<link rel='dns-prefetch' href='//ajax.googleapis.com' />
<link rel="stylesheet" type="text/css" href="../../CSS/home/style.css">
</head>
<body>
<img id="logo" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBifSmzQgFXJ9EntfwTHp70eJ3_OwJQKbJNg&usqp=CAU
alt="Logo" height="60px" width="100px">
<button class=btn1>Sign In</button>
<button class=btn2>Request a Callback</button>
<p class=about>About</p>
<p class=feature>Features</p>
<p class=contact>Contact Us</p>
<p><a href="signin-signup.php" class=log>Signup</a></p>
<p class=container>Online Platform<br>For Your Coaching<br>Institute</p>
<form action=form.html method="post">
  <input type="email" class="email" placeholder="Email" required><br>
  <button class=btn3>Sign In</button>
</form>
<div class="gallerycontainer">
  <div class="leftarrow"><span class="spanleftarrow"></span></div>
  <div class="rightarrow"><span class="spanrightarrow"></span></div>
  <div class="slideshowcontainer">
    <div class="imageholder">
      <img src>
    </div>
    <div class="imageholder">
      <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6Rmf4jQDzpX24DSy6lNNyr3tMVCZN5ehqPg&usqp=CAU>
    </div>
    <div class="imageholder">
      <img src=https://i.pinimg.com/originals/7b/5a/48/7b5a483a5ed77f172d919f9fedad8642.jpg>
    </div>
  </div>
</div>
<p class="row">Increase Students<br>Engagement</p>
<div class="main1">
<ol>
<li class="active">Get your own white label android and IOS website<br>application with role based user login.</li>
<br><br>
<li>Conduct objective or subjective exams and daliy<br>quizzes.</li><br><br>
<li>Share study material and assignments with<br>students instantly or schedule for future date.</li>
</ol>
</div>
<button class=btn4>Browse all the features</button>
<!--<ul>
<li>Get your own white label android and IOS website application with role based user login.</li>
<li class="active">Conduct objective or subjective exams and daliy quizzes.</li>
<li>Share study material and assignments with students instantly or schedule for future date.</li>
</ul>
<button class=btn5>Browse all the features</button>
<ul>
<li>Get your own white label android and IOS website application with role based user login.</li>
<li>Conduct objective or subjective exams and daliy quizzes.</li>
<li class="active">Share study material and assignments with students instantly or schedule for future date.</li>
</ul>
<button class=btn6>Browse all the features</button>-->
<div class="rectangle1"><br><span style=font-size:50px>5</span><br>Number of Cities</div>
<div class="rectangle2"><br><span style=font-size:50px>20+</span><br>Registered Institutes</div>
<div class="rectangle3"><br><span style=font-size:50px>6000+</span><br>Number of Users</div>
<p class="clocktxt"><span style="color:black;"><span style="font-weight:bold;">99.99% Uptime</span></span><br>
  <br>We guarantee a 99.99%<br>uptime, so you and your<br>students can always access<br>the data.</p>
<p class="securitytxt"><span style="color:black;"><span style="font-weight:bold;">Data Security &amp; Privacy</span></span><br>
  <br>We’re proud to exceed the<br>industry standard when it<br>comes to protecting your<br>organisation.</p>
<p class="laptoptxt"><span style="color:black;"><span style="font-weight:bold;">Free Training</span></span><br>
  <br>For a smooth transition from<br>paper to AI based Learning<br>management system.</p>
<p class="earphonetxt"><span style="color:black;"><span style="font-weight:bold;">24/7 Customer Support</span></span><br>
  <br>We've got world-class support<br>ready to help. Our #1 core<br>value is customer service.</p>
<img id="clock" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQQS61oOkdrzQcLucwfPJY9b5ufrA19SxEqQ&usqp=CAU
alt="Clock" height="60px" width="100px">
<img id="earphone" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3LsmS1xavtVDSVqv7rR5GYWf5oo9adRJMmA&usqp=CAU
alt="Headphone" height="60px" width="100px">
<img id="security" src=https://hypertecdirect.com/wp-content/uploads/Azure-Security-Icon.png
alt="Security" height="60px" width="100px">
<img id="laptop" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtl71IhLtjpI5CZ-FiLvAfaOnVPbZAJzkSDQ&usqp=CAU
 alt="Laptop" height="60px" width="100px">
<div class="footer">
  <img id="footlogo" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBifSmzQgFXJ9EntfwTHp70eJ3_OwJQKbJNg&usqp=CAU
  alt="Logo" height="60px" width="100px">
  <p>About</p>
  <p>Features</p>
  <p>Contact Us</p>
  <p>Request a CallBack</p>
  <p>Book Free Demo</p>
  <p>Career</p>
  <p>Privacy Policy</p>
  <p>Terms & Conditions</p>
  <p>Subscribe to our mailing list.</p>
  <a href="mailto:khushisingh62000@gmail.com">khushisingh62000@gmail.com</a>
  <a href="https://www.linkedin.com/in/khushi-singh-7ab7401b0/"><img src=https://www.klipfolio.com/sites/default/files/integrations/linkedin.png
     height=35px width=35px></a>
  <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png height=35px width=35px>
  <img src=https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19748.png height=35px width=35px>
   <p style="text-align: center">Copyright © 2020 LMS</p>
  <p style="text-align: center">All rights reserved</p><br>
</footer>
</body>
</html>

